@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  --error-color: #d50303;
  --success-color: #4caf50;
}

.overall-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 3em;
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  min-width: 300px;
}

input {
  padding: 0.5em;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.search-field {
  width: 100%;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.note {
  font-size: 0.85rem;
  font-weight: 500;
  color: #999;
  align-self: left;
  font-style: italic;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
}

.tasks-table thead tr {
  background-color: #f2f2f2;
  text-align: left;
}

.tasks-table th,
.tasks-table td {
  padding: 0.7em;
  text-align: center;
}

.tasks-table tr {
  border-bottom: 1px solid #e8e8e8;
}

.tasks-table tfoot tr:last-child {
  border-bottom: none;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

button ~ button {
  background-color: #4caf50;
}

.msg {
  display: block;
  padding-top: 0.5em;
  font-size: 0.85rem;
}

.msg.error {
  color: var(--error-color);
}

.msg.success {
  color: var(--success-color);
}

input.error {
  border-color: var(--error-color);
}

input.success {
  border-color: var(--success-color);
}

.description {
  cursor: pointer;
}

.update-task-field {
  width: 85%;
  background-color: #f6f6f6;
}
